*{
    margin: 0;
    padding: 0;
    transition: all ease-in-out 0.3s;
    font-family: tahoma;
}

body{
 
    background-color: white;
}

header{
    background-image: url(../images/PIX\ VAULT\ CATHEGORY\ HEADER.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    display: flex;
    justify-content: center;
    /* background-color: brown; */
   
}

header img{
    height: 150px;
    text-align: center;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    /* justify-content: center; */
   
}

.container .side{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 80px;
    /* height: 100%; */
    background-color: transparent;
    border: 1.5px black solid;
    width: 10%;
}

.container .main_section{
    /* height: 200vh; */
    background-color: rgb(255, 254, 254);
    width: 90%;
}

.side .home{
    padding-top: 40px;
}

.side .home,.main,.about{
    height: 30px;  
}

.side button{
    background-color: red;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-family: tahoma;
    color: white;
    font-weight: bold;
}

.side button:hover{
    background-color: rgb(221, 3, 3);
}


.button{
    text-align: center;
}

.button button{
    background-color: blue;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.button button:hover{
    background-color: rgb(127, 2, 2);
    padding: 8.2px;
    border-radius: 10px;
}

/* Note this h2 here is supposed to work for only top_picks
, nature, animes etc any other h2 should be changed to either 
h3 or anyother header tags to not be affected */

h2{
    font-size: 17px;
    color: blue;
    margin: 10px;
    font-weight: bold;
}

/* Top picks section */

.pic_container{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.pic_container div{
    height: 150px;
    background-color: rgba(114, 114, 114,0.4);
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.pic_container div:hover{
    height: 151px;
    box-shadow: black -1px -1px 5px 0px;
    cursor: pointer;
    background-color: rgba(114, 114, 114,0.4);
    width: 150px;
}

.img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    object-fit: cover;
}


@media (max-width:950px) {


header{
    height: 130px;
   
}

header img{
    height: 130px;
    display: none;
}

.side .home,.main,.about{
    height: 25px;  
}

.pic_container{
    justify-content: center;
}

.pic_container div{
    height: 100px;
    background-color: rgba(114, 114, 114,0.4);
    width: 100px;
}

.pic_container div:hover{
    height: 101px;
    width: 100px;
}

.img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
}

}

@media (max-width:700px) {

header{
    height: 110px;
}

/* header img{
    height: 110px;
} */

.container .side{
    width:12%;
}

.container .main_section{
    width: 88%;
}

#hidden{
    display: none;
}
}

@media (max-width:600px) {

header{
    height: 90px;
}

/* header img{
    height: 90px;
} */

.side .home,.main,.about{
    height: 20px;  
}

.container .side{
    width:15%;
}

.container .main_section{
    width: 85%;
}

.pic_container div{
    height: 80px;
    background-color: rgba(114, 114, 114,0.4);
    width: 80px;
}

.pic_container div:hover{
    height: 81px;
    width: 80px;
}

.img{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    object-fit: cover;
}
}

@media (max-width:500px) {

header{
    height: 90px;
}

/* header img{
    height: 90px;
} */

.side .home,.main,.about{
    height: 20px;  
}

.container .side{
    width:15%;
}

.container .main_section{
    width: 85%;
}

.pic_container div{
    height: 70px;
    background-color: rgba(114, 114, 114,0.4);
    width: 70px;
}

.pic_container div:hover{
    height: 71px;
    width: 70px;
}

.img{
    height: 70px;
    width: 70px;
    border-radius: 10px;
    object-fit: cover;
}
}

/* mobile view port */

@media (max-width:440px) { 
  
h2{
    font-size: 17px;
    margin: 10px;
    text-align: center;
}

.container .side{
    gap: 180px;
}

.pic_container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pic_container div{
    height: 130px;
    background-color: rgba(114, 114, 114,0.4);
    width: 200px;
}

.pic_container div:hover{
    height: 131px;
    width: 200px;
}

.img{
    height: 130px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}
}

@media (max-width:350px) {

header{
    height: 70px;
}

/* header img{
    height: 70px;
} */

.container .side{
    border: none;

}
    
.pic_container div{
    height: 120px;
    background-color: rgba(114, 114, 114,0.4);
    width: 150px;
}

.pic_container div:hover{
    height: 121px;
    width: 150px;
}

.img{
    height: 120px;
    width: 150px;
    border-radius: 10px;
    object-fit: cover;
}
}

@media (max-width:300px) {
    
.pic_container div{
    height: 100px;
    background-color: rgba(114, 114, 114,0.4);
    width: 130px;
}

.pic_container div:hover{
    height: 101px;
    width: 130px;
}

.img{
    height: 100px;
    width: 130px;
    border-radius: 10px;
    object-fit: cover;
}
}